@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

<partial name="~/Views/Shared/_HeaderTitle.cshtml" />
<section id="contact-contents" class="index-section">
    <div class="index-section-wrapper page-content">
        <div class="sqs-block html-block sqs-block-html">
            <div class="sqs-block-content">
                <h1>Hire Me</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eleifend massa augue, posuere accumsan purus volutpat vel.
                </p>
                <p>
                    <a href="mailto:fontiana@gmail.com">@Localizer["Send Inquiry"]</a>
                </p>
            </div>
            <div class="sqs-block-content">
                <h1>General Questions</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eleifend massa augue, posuere accumsan purus volutpat vel.
                </p>
                <p>
                    <a href="mailto:fontiana@gmail.com">@Localizer["Say Hello"]</a>
                </p>
            </div>
        </div>
    </div>
</section>