<section id="contact-contents" class="index-section">
    <div class="index-section-wrapper page-content">
        <div class="sqs-block html-block sqs-block-html">
            <div class="sqs-block-content">
                <h2>Send a friendly hello</h2>
                <strong>Victor&nbsp;Fontana Oliveira</strong>
                <p>
                    <a href="mailto:fontiana@gmail.com">fontiana@gmail.com</a>
                </p>
            </div>
            <div class="sqs-block button-block sqs-block-button">
                <div class="sqs-block-content">
                    <div class="sqs-block-button-container--left">
                        <a href="/s/Victor-Fontana-Resume-2015.pdf" class="sqs-block-button-element--small sqs-block-button-element" target="_blank">Download resume</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>