@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

<section class="striped-section">
    <div class="index-page-content">
        <div class="sqs-layout sqs-grid-12 columns-12">
            <div class="row sqs-row">
                <div class="col sqs-col-12 span-12">
                    <div class="sblock html-block ">
                        <div class="block-content">
                            <h1 class="text-align-center">@Localizer["My life at a glance"]</h1>
                            <h2 class="text-align-center">My interest in programming stemmed from my passion for gaming. Between developing systems and playing video games. Some of my passions are writing clean code, creating suberb user experiences and filling up a fresh cup of coffee.</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="index-page-content">
        <div class="sqs-layout sqs-grid-12 columns-12">
            <div class="row sqs-row">
                <div class="col sqs-col-12 span-12">
                    <div class="sblock html-block ">
                        <div class="sqs-block html-block sqs-block-html">
                            <div class="sqs-block-content">
                                <h1 class="text-align-center">My lastest projects</h1>
                            </div>
                        </div>
                    </div>
                    <div class="row sqs-row">
                        <div class="col sqs-col-12 span-12">
                            <div class="row sqs-row">
                                <div class="col sqs-col-4 span-4">
                                    <div class="sqs-block code-block sqs-block-code">
                                        <div class="sqs-block-content">
                                            <section class="portfolio-block">
                                                <div class="portfolio-image-block">
                                                    <a class="portfolio-image-block__link" href="/Arteadmiravel">
                                                        <img class="portfolio-image-block__image loader" src="http://via.placeholder.com/500" alt="ArteAdmiravel">
                                                    </a>
                                                </div>
                                                <div class="portfolio-content-block">
                                                    <div class="portfolio-content-block__holder">
                                                        <div class="portfolio-content-block__text">
                                                            <div class="portfolio-content-block__sub-title">Website</div>
                                                            <div class="portfolio-content-block__title">Arte Admiravel</div>
                                                            <a class="portfolio-content-block__link" href="/Arteadmiravel" title="New Arte Admiravel">Details of project</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                                <div class="col sqs-col-4 span-4">
                                    <div class="sqs-block code-block sqs-block-code">
                                        <div class="sqs-block-content">
                                            <section class="portfolio-block">
                                                <div class="portfolio-image-block">
                                                    <a class="portfolio-image-block__link" href="/Arteadmiravel">
                                                        <img class="portfolio-image-block__image" src="http://via.placeholder.com/500" alt="Old Arte Admiravel">
                                                    </a>
                                                </div>
                                                <div class="portfolio-content-block">
                                                    <div class="portfolio-content-block__holder">
                                                        <div class="portfolio-content-block__text">
                                                            <div class="portfolio-content-block__sub-title">Website</div>
                                                            <div class="portfolio-content-block__title">Old Arte Admiravel</div>
                                                            <a class="portfolio-content-block__link" href="/OldArteadmiravel" title="Old Arte Admiravel">Details of project</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                                <div class="col sqs-col-4 span-4">
                                    <div class="sqs-block code-block sqs-block-code">
                                        <div class="sqs-block-content">
                                            <section class="portfolio-block">
                                                <div class="portfolio-image-block">
                                                    <a class="portfolio-image-block__link" href="/SafetyAndSecurity">
                                                        <img class="portfolio-image-block__image" src="http://via.placeholder.com/500" alt="Safety and Security">
                                                    </a>
                                                </div>
                                                <div class="portfolio-content-block">
                                                    <div class="portfolio-content-block__holder">
                                                        <div class="portfolio-content-block__text">
                                                            <div class="portfolio-content-block__sub-title">Website</div>
                                                            <div class="portfolio-content-block__title">Safety And Security</div>
                                                            <a class="portfolio-content-block__link" href="/SafetyAndSecurity" title="Safety and Security">Details of project</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sqs-block button-block sqs-block-button">
                        <div class="sqs-block-content">
                            <div class="sqs-block-button-container--center">
                                <a href="/portfolio" class="sqs-block-button-element--medium sqs-block-button-element">View more projects →</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="striped-section">
    <div class="index-page-content">
        <div class="sqs-layout sqs-grid-12 columns-12">
            <div class="row sqs-row">
                <div class="col sqs-col-12 span-12">
                    <div class="sblock html-block ">
                        <div class="block-content">
                            <h1 class="text-align-center">@Localizer["My latest blog posts"]</h1>
                        </div>
                        @*<div class="row sqs-row">
                            <div class="col sqs-col-12 span-12">
                                <div class="row sqs-row">

                                </div>
                            </div>
                        </div>*@
                        <div class="sqs-block summary-v2-block sqs-block-summary-v2" >
                            <div class="sqs-block-content">
                                <div class="summary-block-wrapper summary-block-collection-type-blog
  summary-block-setting-text-size-small
  summary-block-setting-text-align-center
  summary-block-setting-design-autogrid
  summary-block-setting-design-list-thumbnail-left
  summary-block-setting-metadata-position-below-title
  summary-block-setting-primary-metadata-cats
  summary-block-setting-secondary-metadata-date
  summary-block-setting-show-thumbnail
  summary-block-setting-show-title
  summary-block-setting-show-price
  summary-block-setting-hide-excerpt
  sqs-gallery-design-autogrid">
                                    <div class="summary-item-list-container sqs-gallery-container">
                                        <header class="summary-block-header">
                                            <!-- Collection Title -->
                                            <div class="summary-heading">
                                                <span class="summary-header-text">Featured</span>
                                            </div>
                                            <!-- Carousel Nav -->
                                            <div class="summary-carousel-pager sqs-gallery-controls">
                                                <span class="summary-carousel-pager-next next"></span>
                                                <span class="summary-carousel-pager-prev previous"></span>
                                            </div>
                                        </header>
                                        <div class="summary-item-list sqs-gallery sqs-gallery-design-autogrid">

                                            <div class="summary-item summary-item-record-type-text sqs-gallery-design-autogrid-slide summary-item-has-thumbnail 
                                            summary-item-has-excerpt summary-item-has-cats summary-item-has-tags summary-item-has-author summary-item-has-comments-enabled positioned sqs-active-slide">
                                                <!-- Thumbnail -->
                                                <div class="summary-thumbnail-outer-container">
                                                    <a href="/blog/growing-squar" class="summary-thumbnail-container sqs-gallery-image-container" data-title="I started a vlog and here's why" data-description="">
                                                        <div class="summary-thumbnail img-wrapper">
                                                            <!-- Main Image -->
                                                            <img class="summary-thumbnail-image loaded" src="http://via.placeholder.com/500x300">
                                                        </div>
                                                    </a>
                                                    <!-- Products: Quick View -->
                                                </div>
                                                <div class="summary-content sqs-gallery-meta-container">
                                                    <!-- Metadata (Above Title) -->
                                                    <div class="summary-metadata-container summary-metadata-container--above-title">
                                                        <div class="summary-metadata summary-metadata--primary">
                                                            <!-- Categories -->
                                                            <span class="summary-metadata-item summary-metadata-item--cats">
                                                                <a href="/blog/?category=Building+SQUAR">Building SQUAR</a>
                                                            </span>
                                                        </div>
                                                        <div class="summary-metadata summary-metadata--secondary">
                                                            <!-- Timestamp -->
                                                            <time class="summary-metadata-item summary-metadata-item--date">Jan 28, 2018</time>
                                                        </div>
                                                    </div>
                                                    <!-- Title -->
                                                    <div class="summary-title">
                                                        <a href="/blog/growing-squar" class="summary-title-link">I started a vlog and here's why</a>
                                                    </div>
                                                    <!-- Metadata (Below Title) -->
                                                    <div class="summary-metadata-container summary-metadata-container--below-title">
                                                        <div class="summary-metadata summary-metadata--primary">
                                                            <!-- Categories -->
                                                            <span class="summary-metadata-item summary-metadata-item--cats">
                                                                <a href="/blog/?category=Building+SQUAR">Building SQUAR</a>
                                                            </span>
                                                        </div>
                                                        <div class="summary-metadata summary-metadata--secondary">
                                                            <!-- Timestamp -->
                                                            <time class="summary-metadata-item summary-metadata-item--date" datetime="2018-01-28">Jan 28, 2018</time>
                                                        </div>
                                                    </div>
                                                    <!-- Metadata (Below Content) -->
                                                    <div class="summary-metadata-container summary-metadata-container--below-content">
                                                        <div class="summary-metadata summary-metadata--primary">
                                                            <!-- Categories -->
                                                            <span class="summary-metadata-item summary-metadata-item--cats">
                                                                <a href="/blog/?category=Building+SQUAR">Building SQUAR</a>
                                                            </span>
                                                        </div>
                                                        <div class="summary-metadata summary-metadata--secondary">
                                                            <!-- Timestamp -->
                                                            <time class="summary-metadata-item summary-metadata-item--date" datetime="2018-01-28">Jan 28, 2018</time>
                                                        </div>
                                                    </div>
                                                </div> <!-- End .summary-content -->
                                            </div> <!-- End .summary-item -->
                                            <div class="summary-item summary-item-record-type-text
          sqs-gallery-design-autogrid-slide           summary-item-has-thumbnail           summary-item-has-excerpt          summary-item-has-cats
          summary-item-has-tags          summary-item-has-author    summary-item-has-comments-enabled  positioned" >
                                                <!-- Thumbnail -->
                                                <div class="summary-thumbnail-outer-container">
                                                    <a href="/blog/introducing-squar" class="summary-thumbnail-container sqs-gallery-image-container" data-title="Introducing SQUAR" data-description="">
                                                        <div class="summary-thumbnail img-wrapper" id="yui_3_17_2_1_1549840500598_946" style="overflow: hidden; padding-bottom: 66.66666666666667%;">
                                                            <!-- Main Image -->
                                                            <img data-src="https://static1.squarespace.com/static/5300d507e4b0fa8137bdc65d/538e7fabe4b00ea8c43f0f1d/593fe084ff7c50ca377d37a7/1504731245421/squar-agency-working-on-wireframes-bw.jpg" data-image="https://static1.squarespace.com/static/5300d507e4b0fa8137bdc65d/538e7fabe4b00ea8c43f0f1d/593fe084ff7c50ca377d37a7/1504731245421/squar-agency-working-on-wireframes-bw.jpg" data-image-dimensions="2000x1333" data-image-focal-point="0.504,0.4898952095808383" data-load="false" class="summary-thumbnail-image loaded" data-position-mode="standard" data-parent-ratio="1.5" alt="Introducing SQUAR" src="https://static1.squarespace.com/static/5300d507e4b0fa8137bdc65d/538e7fabe4b00ea8c43f0f1d/593fe084ff7c50ca377d37a7/1504731245421/squar-agency-working-on-wireframes-bw.jpg?format=500w" data-image-resolution="500w" style="left: -0.5753938484621131px; top: 0px; width: 301.5753938484621px; height: 201px; position: absolute;">
                                                        </div>
                                                    </a>
                                                    <!-- Products: Quick View -->
                                                </div>
                                                <div class="summary-content sqs-gallery-meta-container">
                                                    <!-- Metadata (Above Title) -->
                                                    <div class="summary-metadata-container summary-metadata-container--above-title">
                                                        <div class="summary-metadata summary-metadata--primary">
                                                            <!-- Categories -->
                                                            <span class="summary-metadata-item summary-metadata-item--cats"><a href="/blog/?category=Business">Business</a></span>
                                                        </div>

                                                        <div class="summary-metadata summary-metadata--secondary">


                                                            <!-- Timestamp -->
                                                            <time class="summary-metadata-item summary-metadata-item--date" datetime="2017-08-15">Aug 15, 2017</time>












                                                        </div>
                                                    </div>


                                                    <!-- Title -->
                                                    <div class="summary-title">
                                                        <a href="/blog/introducing-squar" class="summary-title-link">Introducing SQUAR</a>
                                                    </div>


                                                    <!-- Metadata (Below Title) -->
                                                    <div class="summary-metadata-container summary-metadata-container--below-title">

                                                        <div class="summary-metadata summary-metadata--primary">






                                                            <!-- Categories -->
                                                            <span class="summary-metadata-item summary-metadata-item--cats"><a href="/blog/?category=Business">Business</a></span>








                                                        </div>

                                                        <div class="summary-metadata summary-metadata--secondary">


                                                            <!-- Timestamp -->
                                                            <time class="summary-metadata-item summary-metadata-item--date" datetime="2017-08-15">Aug 15, 2017</time>












                                                        </div>
                                                    </div>







                                                    <!-- Metadata (Below Content) -->
                                                    <div class="summary-metadata-container summary-metadata-container--below-content">

                                                        <div class="summary-metadata summary-metadata--primary">






                                                            <!-- Categories -->
                                                            <span class="summary-metadata-item summary-metadata-item--cats"><a href="/blog/?category=Business">Business</a></span>








                                                        </div>

                                                        <div class="summary-metadata summary-metadata--secondary">


                                                            <!-- Timestamp -->
                                                            <time class="summary-metadata-item summary-metadata-item--date" datetime="2017-08-15">Aug 15, 2017</time>












                                                        </div>
                                                    </div>

                                                </div> <!-- End .summary-content -->

                                            </div> <!-- End .summary-item -->



                                            <div class="summary-item
          summary-item-record-type-text
          sqs-gallery-design-autogrid-slide

           summary-item-has-thumbnail
           summary-item-has-excerpt
          summary-item-has-cats
          summary-item-has-tags
          summary-item-has-author
          summary-item-has-comments-enabled
          summary-item-has-location positioned" id="yui_3_17_2_1_1549840500598_867" data-type="image" style="width: 23.04597701149425%; margin-bottom: 2.6053639846743293%; margin-right: 2.6053639846743293%;">


                                                <!-- Thumbnail -->



                                                <div class="summary-thumbnail-outer-container">
                                                    <a href="/blog/code-shop-expansions" class="summary-thumbnail-container sqs-gallery-image-container" data-title="Squarespace Plugins: Code Shop Expansions" data-description="">
                                                        <div class="summary-thumbnail img-wrapper" id="yui_3_17_2_1_1549840500598_948" style="overflow: hidden; padding-bottom: 66.66666666666667%;">




                                                            <!-- Main Image -->
                                                            <img data-src="https://static1.squarespace.com/static/5300d507e4b0fa8137bdc65d/538e7fabe4b00ea8c43f0f1d/5788f0246b8f5b162dab384d/1502973935079/squarespace-plugins-and-code-snippets.jpg" data-image="https://static1.squarespace.com/static/5300d507e4b0fa8137bdc65d/538e7fabe4b00ea8c43f0f1d/5788f0246b8f5b162dab384d/1502973935079/squarespace-plugins-and-code-snippets.jpg" data-image-dimensions="1500x781" data-image-focal-point="0.363375,0.5" data-load="false" class="summary-thumbnail-image loaded" data-position-mode="standard" data-parent-ratio="1.5" alt="Squarespace Plugins: Code Shop Expansions" src="https://static1.squarespace.com/static/5300d507e4b0fa8137bdc65d/538e7fabe4b00ea8c43f0f1d/5788f0246b8f5b162dab384d/1502973935079/squarespace-plugins-and-code-snippets.jpg?format=500w" data-image-resolution="500w" style="left: 0px; top: -0.000000000000014210854715202004px; width: 386.0435339308579px; height: 201.00000000000003px; position: absolute;">









                                                        </div>
                                                    </a>

                                                    <!-- Products: Quick View -->


                                                </div>






                                                <div class="summary-content sqs-gallery-meta-container">

                                                    <!-- Metadata (Above Title) -->
                                                    <div class="summary-metadata-container summary-metadata-container--above-title">

                                                        <div class="summary-metadata summary-metadata--primary">






                                                            <!-- Categories -->
                                                            <span class="summary-metadata-item summary-metadata-item--cats"><a href="/blog/?category=Squarespace+Code+Shop">Squarespace Code Shop</a></span>








                                                        </div>

                                                        <div class="summary-metadata summary-metadata--secondary">


                                                            <!-- Timestamp -->
                                                            <time class="summary-metadata-item summary-metadata-item--date" datetime="2016-12-19">Dec 19, 2016</time>












                                                        </div>
                                                    </div>


                                                    <!-- Title -->
                                                    <div class="summary-title">
                                                        <a href="/blog/code-shop-expansions" class="summary-title-link">Squarespace Plugins: Code Shop Expansions</a>
                                                    </div>


                                                    <!-- Metadata (Below Title) -->
                                                    <div class="summary-metadata-container summary-metadata-container--below-title">

                                                        <div class="summary-metadata summary-metadata--primary">






                                                            <!-- Categories -->
                                                            <span class="summary-metadata-item summary-metadata-item--cats"><a href="/blog/?category=Squarespace+Code+Shop">Squarespace Code Shop</a></span>








                                                        </div>

                                                        <div class="summary-metadata summary-metadata--secondary">


                                                            <!-- Timestamp -->
                                                            <time class="summary-metadata-item summary-metadata-item--date" datetime="2016-12-19">Dec 19, 2016</time>












                                                        </div>
                                                    </div>







                                                    <!-- Metadata (Below Content) -->
                                                    <div class="summary-metadata-container summary-metadata-container--below-content">

                                                        <div class="summary-metadata summary-metadata--primary">






                                                            <!-- Categories -->
                                                            <span class="summary-metadata-item summary-metadata-item--cats"><a href="/blog/?category=Squarespace+Code+Shop">Squarespace Code Shop</a></span>








                                                        </div>

                                                        <div class="summary-metadata summary-metadata--secondary">


                                                            <!-- Timestamp -->
                                                            <time class="summary-metadata-item summary-metadata-item--date" datetime="2016-12-19">Dec 19, 2016</time>












                                                        </div>
                                                    </div>

                                                </div> <!-- End .summary-content -->

                                            </div> <!-- End .summary-item -->



                                            <div class="summary-item
          summary-item-record-type-text
          sqs-gallery-design-autogrid-slide

           summary-item-has-thumbnail
           summary-item-has-excerpt

          summary-item-has-tags
          summary-item-has-author
          summary-item-has-comments-enabled
          summary-item-has-location positioned" id="yui_3_17_2_1_1549840500598_869" data-type="image" style="width: 23.04597701149425%; margin-bottom: 2.6053639846743293%; margin-right: 0px;">


                                                <!-- Thumbnail -->



                                                <div class="summary-thumbnail-outer-container">
                                                    <a href="/blog/harrisburg-web-design" class="summary-thumbnail-container sqs-gallery-image-container" data-title="Looking for Web Design in Harrisburg?" data-description="">
                                                        <div class="summary-thumbnail img-wrapper" id="yui_3_17_2_1_1549840500598_950" style="overflow: hidden; padding-bottom: 66.66666666666667%;">




                                                            <!-- Main Image -->
                                                            <img data-src="https://static1.squarespace.com/static/5300d507e4b0fa8137bdc65d/538e7fabe4b00ea8c43f0f1d/57a09973be65949f3b8a4108/1513887667098/harrisburg-web-design-squarespace-developer.jpg" data-image="https://static1.squarespace.com/static/5300d507e4b0fa8137bdc65d/538e7fabe4b00ea8c43f0f1d/57a09973be65949f3b8a4108/1513887667098/harrisburg-web-design-squarespace-developer.jpg" data-image-dimensions="1500x995" data-image-focal-point="0.5,0.5" data-load="false" class="summary-thumbnail-image loaded" data-position-mode="standard" data-parent-ratio="1.5" alt="Looking for Web Design in Harrisburg?" src="https://static1.squarespace.com/static/5300d507e4b0fa8137bdc65d/538e7fabe4b00ea8c43f0f1d/57a09973be65949f3b8a4108/1513887667098/harrisburg-web-design-squarespace-developer.jpg?format=500w" data-image-resolution="500w" style="left: -1.007537688442227px; top: 0px; width: 303.01507537688445px; height: 201px; position: absolute;">









                                                        </div>
                                                    </a>

                                                    <!-- Products: Quick View -->


                                                </div>






                                                <div class="summary-content sqs-gallery-meta-container">

                                                    <!-- Metadata (Above Title) -->
                                                    <div class="summary-metadata-container summary-metadata-container--above-title">

                                                        <div class="summary-metadata summary-metadata--primary">













                                                        </div>

                                                        <div class="summary-metadata summary-metadata--secondary">


                                                            <!-- Timestamp -->
                                                            <time class="summary-metadata-item summary-metadata-item--date" datetime="2016-10-24">Oct 24, 2016</time>












                                                        </div>
                                                    </div>


                                                    <!-- Title -->
                                                    <div class="summary-title">
                                                        <a href="/blog/harrisburg-web-design" class="summary-title-link">Looking for Web Design in Harrisburg?</a>
                                                    </div>


                                                    <!-- Metadata (Below Title) -->
                                                    <div class="summary-metadata-container summary-metadata-container--below-title">

                                                        <div class="summary-metadata summary-metadata--primary">













                                                        </div>

                                                        <div class="summary-metadata summary-metadata--secondary">


                                                            <!-- Timestamp -->
                                                            <time class="summary-metadata-item summary-metadata-item--date" datetime="2016-10-24">Oct 24, 2016</time>












                                                        </div>
                                                    </div>







                                                    <!-- Metadata (Below Content) -->
                                                    <div class="summary-metadata-container summary-metadata-container--below-content">

                                                        <div class="summary-metadata summary-metadata--primary">













                                                        </div>

                                                        <div class="summary-metadata summary-metadata--secondary">


                                                            <!-- Timestamp -->
                                                            <time class="summary-metadata-item summary-metadata-item--date" datetime="2016-10-24">Oct 24, 2016</time>












                                                        </div>
                                                    </div>

                                                </div> <!-- End .summary-content -->

                                            </div> <!-- End .summary-item -->



                                        </div> <!-- End .summary-item-list -->

                                    </div> <!-- End .summary-item-list-container -->

                                </div>
                            </div>
                        </div>
                        <div class="sqs-block button-block sqs-block-button">
                            <div class="sqs-block-content">
                                <div class="sqs-block-button-container--center">
                                    <a href="/blog" class="sqs-block-button-element--medium sqs-block-button-element">View more posts →</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>