@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

<section class="index-page-content striped-section">
    <div class="sqs-layout sqs-grid-12 columns-12">
        <div class="row sqs-row">
            <div class="col sqs-col-12 span-12">
                <div class="sblock html-block ">
                    <div class="block-content">
                        <h1 class="text-align-center">@Localizer["My life at a glance"]</h1>
                    </div>
                </div>
                <div class="row sqs-row">
                    <div class="col sqs-col-2 span-2">
                        <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1">
                            <div class="sqs-block-content">&nbsp;</div>
                        </div>
                    </div>
                    <div class="col sqs-col-8 span-8">
                        <div class="sqs-block html-block sqs-block-html">
                            <div class="sqs-block-content">
                                <p class="text-align-center">My interest in programming stemmed from my passion for gaming. Between developing systems and playing video games. Some of my passions are writing clean code, creating suberb user experiences and filling up a fresh cup of coffee.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col sqs-col-2 span-2">
                        <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1">
                            <div class="sqs-block-content">&nbsp;</div>
                        </div>
                    </div>
                </div>
                <div class="block horizontalrule-block block-horizontalrule">
                    <div class="block-content">
                        <hr>
                    </div>
                </div>
                <div class="sblock html-block ">
                    <div class="sqs-block html-block sqs-block-html">
                        <div class="sqs-block-content">
                            <h1 class="text-align-center">My lastest projects</h1>
                        </div>
                    </div>
                </div>
                <div class="row sqs-row">
                    <div class="col sqs-col-12 span-12">
                        <div class="row sqs-row">
                            <div class="col sqs-col-4 span-4">
                                <div class="sqs-block code-block sqs-block-code">
                                    <div class="sqs-block-content">
                                        <section class="portfolio-block">
                                            <div class="portfolio-image-block">
                                                <a class="portfolio-image-block__link" href="/Arteadmiravel">
                                                    <img class="portfolio-image-block__image loader" src="/content/images/ArteAdmiravelPortfolio.jpg" alt="ArteAdmiravel">
                                                </a>
                                            </div>
                                            <div class="portfolio-content-block">
                                                <div class="portfolio-content-block__holder">
                                                    <div class="portfolio-content-block__text">
                                                        <div class="portfolio-content-block__sub-title">Website</div>
                                                        <div class="portfolio-content-block__title">Arte Admiravel</div>
                                                        <a class="portfolio-content-block__link" href="/Arteadmiravel" title="New Arte Admiravel">Details of project</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </div>
                            <div class="col sqs-col-4 span-4">
                                <div class="sqs-block code-block sqs-block-code">
                                    <div class="sqs-block-content">
                                        <section class="portfolio-block">
                                            <div class="portfolio-image-block">
                                                <a class="portfolio-image-block__link" href="/Arteadmiravel">
                                                    <img class="portfolio-image-block__image" src="/content/images/ArteAdmiravelVeioPortfolio.jpg" alt="Old Arte Admiravel">
                                                </a>
                                            </div>
                                            <div class="portfolio-content-block">
                                                <div class="portfolio-content-block__holder">
                                                    <div class="portfolio-content-block__text">
                                                        <div class="portfolio-content-block__sub-title">Website</div>
                                                        <div class="portfolio-content-block__title">Old Arte Admiravel</div>
                                                        <a class="portfolio-content-block__link" href="/OldArteadmiravel" title="Old Arte Admiravel">Details of project</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </div>
                            <div class="col sqs-col-4 span-4">
                                <div class="sqs-block code-block sqs-block-code">
                                    <div class="sqs-block-content">
                                        <section class="portfolio-block">
                                            <div class="portfolio-image-block">
                                                <a class="portfolio-image-block__link" href="/SafetyAndSecurity">
                                                    <img class="portfolio-image-block__image" src="/content/images/SafetySecurityPortfolio.jpg" alt="Safety and Security">
                                                </a>
                                            </div>
                                            <div class="portfolio-content-block">
                                                <div class="portfolio-content-block__holder">
                                                    <div class="portfolio-content-block__text">
                                                        <div class="portfolio-content-block__sub-title">Website</div>
                                                        <div class="portfolio-content-block__title">Safety And Security</div>
                                                        <a class="portfolio-content-block__link" href="/SafetyAndSecurity" title="Safety and Security">Details of project</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sqs-block button-block sqs-block-button">
                    <div class="sqs-block-content">
                        <div class="sqs-block-button-container--center">
                            <a href="/portfolio" class="sqs-block-button-element--small sqs-block-button-element">View more projects</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
