<div class="index-section-wrapper page-content">
    <div class="content-inner has-content">
        <div class="sqs-layout sqs-grid-12 columns-12">
            <div class="row sqs-row">
                <div class="col sqs-col-12 span-12">
                    <div class="row sqs-row">
                        <div class="col sqs-col-2 span-2">
                            <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1">
                                <div class="sqs-block-content">&nbsp;</div>
                            </div>
                        </div>
                        <div class="col sqs-col-8 span-8">
                            <div class="sqs-block html-block sqs-block-html">
                                <div class="sqs-block-content">
                                    <h1 class="text-align-center">Half Code / Half Design</h1>
                                    <p class="text-align-center">Below you will find a handful of my work that I've accomplished over the past few years. Each project has detailed descriptions and technology used.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col sqs-col-2 span-2">
                            <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1">
                                <div class="sqs-block-content">&nbsp;</div>
                            </div>
                        </div>
                    </div>
                    <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1">
                        <div class="sqs-block-content">&nbsp;</div>
                    </div>
                    <div class="row sqs-row">
                        <div class="col sqs-col-4 span-4">
                            <div class="sqs-block code-block sqs-block-code">
                                <div class="sqs-block-content">
                                    <section class="portfolio-block">
                                        <div class="portfolio-image-block">
                                            <a class="portfolio-image-block__link" href="/ArteAdmiravel">
                                                <img class="portfolio-image-block__image loader" src="/content/images/ArteAdmiravelPortfolio.jpg" alt="Arte Admiravel">
                                            </a>
                                        </div>
                                        <div class="portfolio-content-block">
                                            <div class="portfolio-content-block__holder">
                                                <div class="portfolio-content-block__text">
                                                    <div class="portfolio-content-block__sub-title">Website</div>
                                                    <div class="portfolio-content-block__title">Arte Admiravel</div>
                                                    <a class="portfolio-content-block__link" href="Project/ArteAdmiravel" title="New Arte Admiravel">Details of project</a>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                        <div class="col sqs-col-4 span-4">
                            <div class="sqs-block code-block sqs-block-code">
                                <div class="sqs-block-content">
                                    <section class="portfolio-block">
                                        <div class="portfolio-image-block">
                                            <a class="portfolio-image-block__link" href="/OldArteAdmiravel">
                                                <img class="portfolio-image-block__image" src="/content/images/ArteAdmiravelVeioPortfolio.jpg" alt="Old Arte Admiravel">
                                            </a>
                                        </div>
                                        <div class="portfolio-content-block">
                                            <div class="portfolio-content-block__holder">
                                                <div class="portfolio-content-block__text">
                                                    <div class="portfolio-content-block__sub-title">Website</div>
                                                    <div class="portfolio-content-block__title">Arte Admiravel</div>
                                                    <a class="portfolio-content-block__link" href="Project/OldArteAdmiravel" title="Old Arte Admiravel">Details of project</a>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                        <div class="col sqs-col-4 span-4">
                            <div class="sqs-block code-block sqs-block-code">
                                <div class="sqs-block-content">
                                    <section class="portfolio-block">
                                        <div class="portfolio-image-block">
                                            <a class="portfolio-image-block__link" href="/next-level-athletix">
                                                <img class="portfolio-image-block__image" src="/content/images/SafetySecurityPortfolio.jpg" alt="Safety and Security">
                                            </a>
                                        </div>
                                        <div class="portfolio-content-block">
                                            <div class="portfolio-content-block__holder">
                                                <div class="portfolio-content-block__text">
                                                    <div class="portfolio-content-block__sub-title">Website</div>
                                                    <div class="portfolio-content-block__title">Safety And Security</div>
                                                    <a class="portfolio-content-block__link" href="Project/SafetyAndSecurity" title="Safety and Security">Details of project</a>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row sqs-row">
                        <div class="col sqs-col-4 span-4">
                            <div class="sqs-block code-block sqs-block-code">
                                <div class="sqs-block-content">
                                    <section class="portfolio-block">
                                        <div class="portfolio-image-block">
                                            <a class="portfolio-image-block__link" href="/next-level-athletix">
                                                <img class="portfolio-image-block__image" src="/content/images/GustavoDionisioPortfolio.jpg" alt="Freelancer Gustavo Dionisio">
                                            </a>
                                        </div>
                                        <div class="portfolio-content-block">
                                            <div class="portfolio-content-block__holder">
                                                <div class="portfolio-content-block__text">
                                                    <div class="portfolio-content-block__sub-title">Website</div>
                                                    <div class="portfolio-content-block__title">Freelancer Gustavo Dionisio</div>
                                                    <a class="portfolio-content-block__link" href="Project/GustavoDionisio" title="Go to Freelancer Gustavo Dionisio">Details of project</a>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
