<section id="portfolio-intro" class="index-section">
    <div class="index-section-wrapper page-content">
        <div class="sqs-layout sqs-grid-12 columns-12">
            <div class="row sqs-row">
                <div class="col sqs-col-12 span-12">

                    <div class="sqs-block html-block sqs-block-html">
                        <div class="sqs-block-content">
                            <h1 class="text-align-center">ArteAdmiravel.com.br</h1>
                        </div>
                    </div>
                    <div class="row sqs-row">
                        <div class="col sqs-col-2 span-2">
                            <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1">
                                <div class="sqs-block-content">&nbsp;</div>
                            </div>
                        </div>
                        <div class="col sqs-col-8 span-8">
                            <div class="sqs-block button-block sqs-block-button">
                                <div class="sqs-block-content">
                                    <div class="sqs-block-button-container--center">
                                        <a href="http://www.arteadmiravel.com.br/" class="sqs-block-button-element--small sqs-block-button-element" target="_blank">Visit site</a>
                                    </div>
                                </div>
                            </div>
                            <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1">
                                <div class="sqs-block-content">&nbsp;</div>
                            </div>
                            <div class="sqs-block html-block sqs-block-html">
                                <div class="sqs-block-content">
                                    <h3 class="text-align-center">Technology used.</h3>
                                    <pre class="text-align-center">HTML, CSS, jQuery, ASP.NET MVC, MySql, Entity Framework</pre>
                                </div>
                            </div>
                        </div>
                        <div class="col sqs-col-2 span-2">
                            <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1">
                                <div class="sqs-block-content">&nbsp;</div>
                            </div>
                        </div>
                    </div>
                    <div class="sqs-block horizontalrule-block sqs-block-horizontalrule">
                        <div class="sqs-block-content">
                            <hr>
                        </div>
                    </div>
                    <div class="sqs-block image-block sqs-block-image">
                        <div class="sqs-block-content">
                            <div class="image-block-outer-wrapper layout-caption-below ">
                                <div class="intrinsic">
                                    <div class="image-block-wrapper">
                                        <img class="thumb-image loaded" src="/content/images/indexArteAdmiravel.jpg">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sqs-block image-block sqs-block-image">
                        <div class="sqs-block-content">
                            <div class="image-block-outer-wrapper layout-caption-below ">
                                <div class="intrinsic">
                                    <div class="image-block-wrapper">
                                        <img class="thumb-image loaded" src="/content/images/product.jpg">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sqs-block image-block sqs-block-image">
                        <div class="sqs-block-content">
                            <div class="image-block-outer-wrapper layout-caption-below ">
                                <div class="intrinsic">
                                    <div class="image-block-wrapper">
                                        <img class="thumb-image loaded" src="/content/images/cart.jpg">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>