
<partial name="~/Views/Shared/_HeaderTitle.cshtml" />
<section class="index-section">
    <div class="index-section-wrapper page-content">
        <div class="sqs-layout sqs-grid-12 columns-12">
            <div class="row sqs-row">
                <div class="col sqs-col-12 span-12">
                    <div class="row sqs-row">
                        <div class="col sqs-col-4 span-4">
                            <div class="sqs-block html-block sqs-block-html">
                                <div class="sqs-block-content">
                                    <h2>Technologies</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col sqs-col-8 span-8">
                            <div class="row sqs-row">
                                <div class="col sqs-col-5 span-5">
                                    <div class="sqs-block html-block sqs-block-html">
                                        <div class="sqs-block-content">
                                            <h3>Day-to-day</h3>
                                            <ul>
                                                <li>HTML5 / CSS3</li>
                                                <li>JavaScript /&nbsp;jQuery</li>
                                                <li>ASP.NET MVC</li>
                                                <li>WPF</li>
                                                <li>C# / VB</li>
                                                <li>SQL Server</li>
                                                <li>Photoshop</li>
                                                <li>Team Foundation Service / Clear Case</li>
                                                <li>Bootstrap</li>
                                                <li>Responsive Layout and Design</li>
                                                <li>Agile Methodology</li>
                                                <li>Mobile First Thinking</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col sqs-col-3 span-3">
                                    <div class="sqs-block html-block sqs-block-html">
                                        <div class="sqs-block-content">
                                            <h3>Experience with</h3>
                                            <ul>
                                                <li>Services</li>
                                                <li>Cursor</li>
                                                <li>AJAX</li>
                                                <li>Entity Framework</li>
                                                <li>Design Pattern</li>
                                                <li>Graphic Design</li>
                                                <li>PHP</li>
                                                <li>SEO</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sqs-block horizontalrule-block sqs-block-horizontalrule">
                        <div class="sqs-block-content">
                            <hr>
                        </div>
                    </div>
                    <div class="row sqs-row">
                        <div class="col sqs-col-4 span-4">
                            <div class="sqs-block html-block sqs-block-html">
                                <div class="sqs-block-content">
                                    <h2>Work Experience</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col sqs-col-8 span-8">
                            <div class="sqs-block html-block sqs-block-html">
                                <div class="sqs-block-content">
                                    <h3>Software Engineer</h3>
                                    <p>
                                        <strong>Avanade Inc, Sao Paulo, SP, Outubro 2013</strong><br>
                                        <span>Acted as a focal point for the new junior programmers and as a developer responsible for designing new Web and Windows systems handling Microsoft technologies. Was allocated in a investment bank named BTG Pactual where I received the attribution of sustaining the Geneva System. Primary code utilization included ASP.NET MVC, Web Services, WPF.</span>
                                    </p>
                                </div>
                            </div>
                            <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1">
                                <div class="sqs-block-content">&nbsp;</div>
                            </div>
                            <div class="sqs-block html-block sqs-block-html">
                                <div class="sqs-block-content">
                                    <h3>Associate Software Engineer</h3>
                                    <p>
                                        <strong>Avanade Inc, Sao Paulo, SP, August 2012 – October 2013</strong><br>
                                        <span>Acted as a junior programmer developing and implementing web and windows solutions handling Microsoft technologies. Enhanced my ability to work with WPF and Services through employment at Avanade working in the new ATM and cashier system and acted as a programmer in the Avanade's software house developing software to Itaú Unibanco. Itaú Unibanco is currently the second largest Brazilian card payment company.</span>
                                    </p>
                                </div>
                            </div>
                            <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1">
                                <div class="sqs-block-content">&nbsp;</div>
                            </div>
                            <div class="sqs-block html-block sqs-block-html">
                                <div class="sqs-block-content">
                                    <h3>Web Developer Intern</h3>
                                    <p>
                                        <strong>Stefanini IT Solutions, Sao Paulo, SP, August 2011 – August 2012</strong><br>
                                        <span>Responsible for developing applications handling microsoft technologies such as WebForms, ASP.NET, C#, VB, Sql Server. Responsible for creating unit test script, layout prototype, case of user using UML methodology.</span>
                                    </p>
                                </div>
                            </div>
                            <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1">
                                <div class="sqs-block-content">&nbsp;</div>
                            </div>
                            <div class="sqs-block html-block sqs-block-html">
                                <div class="sqs-block-content">
                                    <h3>Security Office Intern</h3>
                                    <p>
                                        <strong>Stefanini IT Solutions, Sao Paulo, SP, January 2011 – August 2011</strong><br>
                                        <span>Responsible for controlling the time-clock system, creating login, emails and badge identification for the consultants. Participated in the developmentof the new time-clock software gathering requirements. Supported the operational manager in his daily-basis activities such as extracting the monthly trial balance of the consultants to process their payments.</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sqs-block horizontalrule-block sqs-block-horizontalrule">
                        <div class="sqs-block-content">
                            <hr>
                        </div>
                    </div>
                    <div class="row sqs-row">
                        <div class="col sqs-col-4 span-4">
                            <div class="sqs-block html-block sqs-block-html">
                                <div class="sqs-block-content">
                                    <h2>Education</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col sqs-col-8 span-8">
                            <div class="sqs-block html-block sqs-block-html">
                                <div class="sqs-block-content">
                                    <h3>Information Systems</h3>
                                    <p>University Center St. Andrew Foundation, 2010 – 2014</p>
                                </div>
                            </div>
                            <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1">
                                <div class="sqs-block-content">&nbsp;</div>
                            </div>
                            <div class="sqs-block html-block sqs-block-html">
                                <div class="sqs-block-content">
                                    <h3>High School</h3>
                                    <p>Educational Center Jean Piaget, Brazil, SP - 2006 - 2008</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>