<header id="header">
    <div class="header_inner">
        <div id="logoWrapper" class="wrapper">
            <h1 id="logoImage">
                <a href="/">
                    <img src="/content/images/logo.png" alt="Victor Fontana">
                </a>
            </h1>
        </div>
        <label for="mobileNavToggle" class="mobile-nav-toggle-label">
            <div class="top-bar"></div>
            <div class="middle-bar"></div>
            <div class="bottom-bar"></div>
        </label>
        <div id="headerNav">
            <div id="mainNavWrapper" class="nav-wrapper">
                <nav id="mainNavigation">
                    <div class="active">
                        <a href="/">Home</a>
                    </div>
                    <div class="index">
                        <a href="home/portfolio">Portfolio</a>
                    </div>
                    <div class="collection">
                        <a href="home/about">About</a>
                    </div>
                    <div class="collection">
                        <a href="home/resume">Resume</a>
                    </div>
                    <div class="collection">
                        <a href="home/blog">Blog</a>
                    </div>
                    <div class="collection">
                        <a href="home/contact">Contact</a>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<div class="banner_thumbnail_wrapper">
    <div class="desc_wrapper">
        <p><em>@ViewBag.subtitle</em></p>
        <p><strong>@ViewBag.title</strong></p>
    </div>
</div>

