<header id="header">
    <div class="header_inner">
        <div id="logoWrapper" class="wrapper">
            <h1 id="logoImage">
                <a href="/">
                    <img src="/content/images/logo.png" alt="Victor Fontana">
                </a>
            </h1>
        </div>
        <label for="mobileNavToggle" class="mobile-nav-toggle-label">
            <div class="top-bar"></div>
            <div class="middle-bar"></div>
            <div class="bottom-bar"></div>
        </label>
        <div id="headerNav">
            <div id="mainNavWrapper" class="nav-wrapper">
                <nav id="mainNavigation">
                    <div class="active">
                        <a href="/">Home</a>
                    </div>
                    <div class="index">
                        <a href="/Portfolio">Portfolio</a>
                    </div>
                    <div class="collection">
                        <a href="/About">About</a>
                    </div>
                    <div class="collection">
                        <a href="/Resume">Resume</a>
                    </div>
                    <div class="collection">
                        <a href="/Blog">Blog</a>
                    </div>
                    <div class="collection">
                        <a href="/Contact">Contact</a>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<div class="banner_thumbnail_wrapper">
    <div class="desc_wrapper">
        <p><em>Developer with a passion for</em></p>
        <p><strong>ASP.NET MVC</strong></p>
    </div>
</div>