<!DOCTYPE html>

<html lang="en-us">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Something went wrong >.<" />
    <title>@ViewBag.Title</title>
    <partial name="_Fonts.cshtml" />

    <environment include="Development, Production">
        <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/framework.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/mobile.css" asp-append-version="true" />
    </environment>

</head>
<body class="transparent-header enable-nav-button nav-button-style-outline banner-button-style-outline gallery-design-grid small-button-style-outline medium-button-style-outline large-button-style-outline button-style-outline homepage collection-type-index @(ViewBag.darkHeader)">
    <div class="errorLayout">
        <a asp-controller="home" asp-action="index">
            <img src="/images/VF_branco.png" width="80" alt="Logotipo Victor Fontana">
        </a>
        @RenderBody()
        <div class="actions">
            <div class="sqs-slice-buttons sqs-slice-buttons-content" data-slice-type="buttons">
                <ul>
                    <li><a href="/">Back to Home</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
