.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    perspective: 1500px;
}

nav {
    min-width: 250px;
    max-width: 250px;
    transform-origin: bottom left;
    padding: 20px;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
}

main {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
}