/* PRINCIPAL */

* {
    box-sizing: border-box;
    margin: 0;
    outline: none;
}

    *:focus {
        outline: none;
    }

.main {
    min-height: 550px;
    overflow: hidden;
    background: #fff;
}

body {
    font-size: .85em;
    font-family: 'Montserrat', Proxima-Nova, Helvetica Neue, Arial, Sans-Serif;
    color: #333330;
    line-height: 1;
}

input,
textarea {
    font-family: Sans-Serif;
}

#logoImage a {
    display: block;
}

#logoImage {
    margin: 0;
    font-size: 0;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: rgba(26, 26, 26, .6);
}

.collection-type-index #page {
    max-width: 100%;
    padding: 0;
}

.collection-type-index .page-content {
    max-width: 1020px;
    margin: 0 auto;
    padding: 96px 32px;
}

#page {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: auto;
    margin: auto;
    max-width: 1020px;
    padding: 96px 32px;
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: subpixel-antialiased;
    background: #fff;
}

#headerNav nav a:hover,
#sidecarNav nav a:hover,
#headerNav nav a:visited:hover,
#sidecarNav nav a:visited:hover,
#headerNav nav label:hover,
#sidecarNav nav label:hover {
    color: #fff;
}

.dark-header #headerNav nav a:hover {
    color: #000;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

#siteWrapper {
    font-family: 'Montserrat', "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.6em;
    font-size: 16px;
    line-height: 1.8em;
    letter-spacing: 0px;
    font-weight: 400;
    font-style: normal;
    color: rgba(26, 26, 26, .6);
}

#headerNav:hover a {
    color: rgba(255, 255, 255, .4);
}

.dark-header #headerNav:hover a {
    color: rgba(0,0,0,.4);
}

#headerNav nav a,
#sidecarNav nav a,
#headerNav nav a:visited,
#sidecarNav nav a:visited,
#headerNav nav label,
#sidecarNav nav label {
    font-family: 'Montserrat', "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 400;
    font-style: normal;
    line-height: 1em;
    color: rgba(255, 255, 255, 1);
}

.dark-header #headerNav nav a {
    color:#000;
}

.nav-button-style-outline.enable-nav-button #headerNav nav > div:not(.folder):last-child a,
.nav-button-style-outline.enable-nav-button #sidecarNav nav > div:not(.folder):last-child a {
    background-color: transparent;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    border: 2px solid #fff;
    color: #fff;
}

.nav-wrapper nav > a,
.nav-wrapper nav > label {
    margin: 0 1em;
    padding: .618em 0;
}

.nav-wrapper nav > a,
.nav-wrapper nav > label {
    -webkit-transition: color .1s 0s ease-in-out;
    -moz-transition: color .1s 0s ease-in-out;
    -ms-transition: color .1s 0s ease-in-out;
    -o-transition: color .1s 0s ease-in-out;
    transition: color .1s 0s ease-in-out;
}

.enable-nav-button #headerNav nav > div:not(.folder):last-child a,
.enable-nav-button #sidecarNav nav > div:not(.folder):last-child a {
    font-family: 'Montserrat', "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 400;
    font-style: normal;
    margin-left: 1em;
    padding: 1em 1.5em !important;
    display: block;
    background-color: #fff;
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: subpixel-antialiased;
    color: #fff;
    -webkit-transition: background-color .1s 0s ease-in-out, color .1s 0s ease-in-out;
    -moz-transition: background-color .1s 0s ease-in-out, color .1s 0s ease-in-out;
    -ms-transition: background-color .1s 0s ease-in-out, color .1s 0s ease-in-out;
    -o-transition: background-color .1s 0s ease-in-out, color .1s 0s ease-in-out;
    transition: background-color .1s 0s ease-in-out, color .1s 0s ease-in-out;
}

.nav-button-style-outline.enable-nav-button #headerNav nav > div:not(.folder):last-child a:hover,
.nav-button-style-outline.enable-nav-button #sidecarNav nav > div:not(.folder):last-child a:hover {
    background-color: #fff;
    color: #181818;
}

.small-button-style-outline .sqs-block-button .sqs-block-button-element--small,
.medium-button-style-outline .sqs-block-button .sqs-block-button-element--medium,
.large-button-style-outline .sqs-block-button .sqs-block-button-element--large {
    border-width: 2px;
    border-style: solid;
    background-color: transparent;
    -webkit-transition: 0.1s background-color linear, 0.1s color linear;
    -moz-transition: 0.1s background-color linear, 0.1s color linear;
    -o-transition: 0.1s background-color linear, 0.1s color linear;
    transition: 0.1s background-color linear, 0.1s color linear;
}

.small-button-style-outline .sqs-block-button .sqs-block-button-element--small {
    color: #272727;
}

.sqs-block-button .sqs-block-button-element {
    display: inline-block;
    width: auto;
    height: auto;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    -webkit-appearance: none;
    line-height: normal;
}


h1:first-child,
h2:first-child,
h3:first-child,
.entry-title:first-child {
    margin-top: 0;
}

.html-block h3 {
    font-weight: 400 !important;
}

.sqs-block-button .sqs-block-button-container--center {
    text-align: center;
}

/* HEADER */

div#sidecarNav {
    position: fixed;
    width: 260px;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    line-height: 1em;
    text-align: left;
    overflow: auto;
    visibility: hidden;
    background-color: #212121;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: height 0s .14s linear, visibility 0s .14s linear;
    -moz-transition: height 0s .14s linear, visibility 0s .14s linear;
    -ms-transition: height 0s .14s linear, visibility 0s .14s linear;
    -o-transition: height 0s .14s linear, visibility 0s .14s linear;
    transition: height 0s .14s linear, visibility 0s .14s linear;
}

#sidecarNav nav {
    padding: 24px 36px 72px;
}

.transparent-header #header {
    background-color: transparent;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    position: absolute;
}

body:not(.force-mobile-nav) .nav-wrapper nav > div {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

body:not(.button-style-default).button-style-outline .sqs-editable-button,
body:not(.button-style-default).button-style-outline .sqs-editable-button-color {
    background-color: transparent;
    color: #1a1a1a;
}

body:not(.button-style-default).button-style-outline .sqs-editable-button,
body:not(.button-style-default).button-style-outline .sqs-editable-button-style {
    border-width: 2px;
    border-style: solid;
    -webkit-transition: 0.1s background-color linear, 0.1s color linear;
    -moz-transition: 0.1s background-color linear, 0.1s color linear;
    -o-transition: 0.1s background-color linear, 0.1s color linear;
    transition: 0.1s background-color linear, 0.1s color linear;
}

body:not(.button-style-default) .sqs-editable-button,
body:not(.button-style-default) .sqs-editable-button-font {
    font-family: 'Montserrat', "proxima-nova", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    font-style: normal;
}

body:not(.button-style-default) .sqs-editable-button,
body:not(.button-style-default) .sqs-editable-button-color {
    color: #fff;
    background-color: #1a1a1a;
    border-color: #1a1a1a;
}

body:not(.button-style-default) .sqs-editable-button,
body:not(.button-style-default) .sqs-editable-button-layout {
    display: inline-block;
    width: auto;
    height: auto;
    padding: 1em 2.5em;
    border-width: 0;
    text-align: center;
    cursor: pointer;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#header {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    line-height: 1em;
    background-color: #212121;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

[data-nc-element] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 1;
    -ms-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
}

[data-nc-container] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    min-width: 0;
    max-width: 100%;
}

[data-nc-container="header-left"] {
    text-align: left;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}

[data-nc-container="header-right"] {
    text-align: right;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

.header-inner-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.header-inner {
    padding: 20px 50px 20px 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-animation: header-anim 1s ease-in-out;
    animation: header-anim 1s ease-in-out;
}

.header-inner,
.footer-inner,
.pre-footer-inner .sqs-layout {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.header-inner,
.footer-inner,
.pre-footer-inner {
    width: auto;
    margin: auto;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* MAIN */

h1 + h1,
h1 + h2,
h1 + h3,
h2 + h1,
h2 + h2,
h2 + h3,
h3 + h1,
h3 + h2,
h3 + h3 {
    margin-top: 15px;
}

.index-page-content {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.striped-section {
    background-color: #edeeef;
}

.no-banner-section {
    margin-top: 83px;
}

.header-inner {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.index-page-content {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 96px 60px;
}

.main-content {
    padding-top: 0;
}

.index-page {
    background-color: #000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
    min-height: 320px;
    position: relative;
    overflow: hidden;
}

    .index-page .index-page-content {
        position: relative;
        z-index: 2;
        padding-top: 155px;
        padding-bottom: 155px;
    }

    .index-page h1 {
        color: #fff;
        font-family: 'Montserrat', "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 72px;
        font-weight: 700;
        line-height: 1em;
        text-transform: uppercase;
    }

    .index-page h2 {
        color: #fff;
        font-family: adobe-garamond-pro;
        font-size: 24px;
        font-style: italic;
        font-weight: 400;
        letter-spacing: 1px;
        line-height: 1.5em;
        text-transform: none;
    }

.sqs-block:not(.sqs-block-html):not(.sqs-block-markdown) {
    clear: both;
}

.sqs-gallery-block-grid .slide {
    float: left;
    width: 25%;
}

#block-especial .sqs-gallery-block-grid .sqs-gallery-design-grid-slide .margin-wrapper {
    margin-right: 10px;
    margin-bottom: 10px;
}

.portfolio-block {
    position: relative;
    visibility: visible;
}

.portfolio-content-block {
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0px;
    width: 100%;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.portfolio-content-block__holder {
    background-color: rgba(0, 0, 0, .75);
    display: table;
    height: 100%;
    width: 100%;
}

.portfolio-content-block__text {
    color: #fff;
    display: table-cell;
    height: 100%;
    letter-spacing: 1px;
    margin-top: 40px;
    padding: 15px 30px;
    text-align: center;
    vertical-align: middle;
}

.portfolio-content-block__sub-title {
    color: #ccc;
    font-family: "adobe-garamond-pro";
    font-size: 13px;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 1px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.portfolio-content-block__title {
    font-family: 'Montserrat', "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 10px;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.portfolio-content-block__link {
    border: 2px solid #fff;
    color: #fff;
    display: inline-block;
    font-family: 'Montserrat', "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 1em;
    margin-top: 10px;
    padding: 1em 1.75em;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: translate(0px, 5px);
    -ms-transform: translate(0px, 5px);
    transform: translate(0px, 5px);
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

    .portfolio-content-block__link:hover {
        background-color: #fff;
        border: 2px solid #fff;
        color: #000 !important;
    }


.sqs-block.sqs-block-code img {
    max-width: 100%;
    display: block;
}

.portfolio-content-block:hover,
.portfolio-content-block:focus {
    opacity: 1;
}

.sqs-layout > .sqs-row {
    margin-left: -17px;
    margin-right: -17px;
}

.sqs-row {
    width: auto !important;
}

.collection-type-page #content {
    margin: auto;
}

#content {
    width: 100%;
    display: block;
}

/* FOOTER */

.sqs-block-image .image-block-wrapper {
    line-height: 0;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.sqs-block-image .intrinsic {
    margin: auto;
}

    .sqs-block-image .intrinsic img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .sqs-block-image .intrinsic .image-block-wrapper img {
        top: 0;
        left: 0;
        width: 100%;
    }

#footerBlocks .sqs-block-content h3 {
    font-size: 13px;
    line-height: 1.65;
}

#footerBlocks .sqs-block-content p {
    font-size: 12px;
}

#preFooter {
    background-color: #353439;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

#footer {
    background-color: #26262a;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: rgba(255, 255, 255, .4);
}

.footer-inner,
.pre-footer-inner {
    max-width: 1020px;
}

.footer-inner {
    padding: 64px 32px;
}

#footer h1,
#footer h2,
#footer h3 {
    color: rgba(255, 255, 255, .4);
}

#footerBlocks .sqs-block-content a,
#footerBlocks .sqs-block-content a:active,
#footerBlocks .sqs-block-content a:visited {
    padding: .5em 1.2em;
}

#footer .html-block a,
#footer .html-block a:visited {
    color: rgba(255, 255, 255, .4);
}

.sqs-svg-icon--list.social-icon-alignment-center {
    text-align: center;
}

.social-icons-style-regular.social-icons-color-white .sqs-use--icon {
    fill: white;
}

.social-icons-style-regular.social-icons-color-white .sqs-use--background,
.social-icons-style-regular.social-icons-color-white .sqs-use--mask {
    fill: transparent;
}

.sqs-use--icon,
.sqs-use--mask,
.sqs-use--background {
    -webkit-transition: fill 170ms ease-in-out;
    -moz-transition: fill 170ms ease-in-out;
    -ms-transition: fill 170ms ease-in-out;
    -o-transition: fill 170ms ease-in-out;
    transition: fill 170ms ease-in-out;
}

.social-icons-size-extra-small.social-icons-style-regular .sqs-svg-icon--wrapper {
    width: 16px;
    height: 16px;
    margin: 0 5px;
}

.sqs-svg-icon--wrapper {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    display: inline-block;
    width: 32px;
    height: 32px;
    text-decoration: none;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}

.social-icons-style-regular .sqs-svg-icon--wrapper > div {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
}

.sqs-svg-icon--wrapper svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.sqs-svg-icon--wrapper > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

svg:not(:root) {
    overflow: hidden;
}

.full-width-layout {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.layer-content {
    text-align: center;
    position: relative;
    padding: 40px 60px 60px 60px;
    box-sizing: border-box;
    height: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased !important;
}

.main-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-rendering: optimizeLegibility;
    background-color: #000;
}

.slice-group.align-center-vert {
    position: relative;
    top: 50%;
    box-sizing: border-box;
    -webkit-transform: translatey(-50%);
    -moz-transform: translatey(-50%);
    -ms-transform: translatey(-50%);
    transform: translatey(-50%);
}

.slice-group.full-width {
    position: absolute;
    left: 60px;
    right: 60px;
}

[data-slice-type="heading"] {
    margin-bottom: 20px;
}

    [data-slice-type="heading"] h1 {
        font-size: 130px;
        font-weight: 500;
        letter-spacing: -2px;
        font-family: 'Montserrat', "proxima-nova";
        font-size: 98px;
        line-height: 1em;
        text-transform: none;
        letter-spacing: 4px;
        font-weight: 700;
        font-style: normal;
        color: #fff;
        margin-top: 0;
        margin-bottom: 0;
    }

[data-slice-type="body"] {
    margin-bottom: 40px;
    font-size: 22px;
    font-size: 26px;
    letter-spacing: .5px;
    font-family: "adobe-garamond-pro";
    font-size: 24px;
    line-height: 1.3em;
    text-transform: none;
    letter-spacing: 1px;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    max-width: 36em;
    margin: 0 auto;
}

    [data-slice-type="body"]:not([data-content-empty]) {
        margin-bottom: 40px;
    }

[data-slice-type="buttons"] ul {
    font-weight: 500;
    font-size: 16px;
    font-family: 'Montserrat', "proxima-nova";
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    font-style: normal;
    margin: 0;
    padding: 0;
    line-height: 1em;
}

.button-style-outline [data-slice-type="buttons"] li {
    -webkit-transition: background-color 170ms ease-in-out;
    -moz-transition: background-color 170ms ease-in-out;
    -ms-transition: background-color 170ms ease-in-out;
    -o-transition: background-color 170ms ease-in-out;
    transition: background-color 170ms ease-in-out;
}

.button-style-outline [data-slice-type="buttons"] a {
    color: #fff;
    border: 2px solid #fff;
    -webkit-transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    -moz-transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    -ms-transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    -o-transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
}

[data-slice-type="buttons"] li a,
[data-slice-type="navigation"] li a {
    display: block;
    text-decoration: none;
}

[data-slice-type="buttons"] li,
[data-slice-type="navigation"] {
    display: inline-block;
    list-style: none;
}

[data-slice-type="buttons"] a {
    padding-top: 1em;
    padding-right: 1.44em;
    padding-right: calc(1.44em - 2px);
    padding-bottom: 1em;
    padding-left: 1.44em;
}

.horizontal-positioning-center .layer-front .slide-layer-content > * {
    margin: 0 auto;
    max-width: 880px;
}

.layer-front .slide-layer-content > * {
    width: 100%;
    max-width: 940px;
}

.social-icons-style-regular [data-slice-type="social-icons"] .use-icon {
    fill: #fff;
}

.social-icons-style-regular [data-slice-type="social-icons"] .use-background,
.social-icons-style-regular [data-slice-type="social-icons"] .use-mask {
    fill: transparent;
}

.use-icon,
.use-mask,
.use-background {
    -webkit-transition: fill 170ms ease-in-out;
    -moz-transition: fill 170ms ease-in-out;
    -ms-transition: fill 170ms ease-in-out;
    -o-transition: fill 170ms ease-in-out;
    transition: fill 170ms ease-in-out;
}

.icon-wrapper svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.social-icons-size-small.social-icons-style-regular [data-slice-type="social-icons"] .icon-wrapper {
    width: 20px;
    height: 20px;
    margin: 0 6px;
}

[data-slice-type="social-icons"] .icon-wrapper {
    border-color: transparent;
    cursor: pointer;
    display: inline-block;
    width: 32px;
    height: 32px;
}

.icon-wrapper {
    position: relative;
    overflow: hidden;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

.slice-group.bottom-full-width {
    position: absolute;
    bottom: 60px;
    left: 60px;
    right: 60px;
}

.overlayBg {
    display: none;
    cursor: e-resize;
}

.summary-title {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

    .summary-title a {
        color: rgba(26, 26, 26, .9);
    }

.summary-content {
    background-color: #fff;
    min-height: 140px;
    padding: 20px;
}

.sqs-block-summary-v2 .summary-content {
    text-align: center;
}

.sqs-block-summary-v2 .img-wrapper img,
.sqs-block-summary-v2 .sqs-video-wrapper img {
    display: block;
    width: 100%;
    height: auto;
    font-size: 13px;
    line-height: normal;
    -webkit-transition: .6s opacity;
    -moz-transition: .6s opacity;
    -ms-transition: .6s opacity;
    -o-transition: .6s opacity;
    transition: .6s opacity;
}

.summary-metadata-item {
    opacity: .7;
    margin: 0;
    font-size: 13px;
    line-height: 1.4em;
    text-transform: none;
}

.sqs-block-summary-v2 .summary-metadata--primary,
.sqs-block-summary-v2 .summary-metadata--secondary {
    display: inline-block;
}
