/* MAIN */
.BlogList-item-title {
    display: block;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-family: adobe-garamond-pro;
    font-weight: 400;
    font-style: normal;
    font-size: 34px;
    letter-spacing: 0em;
    line-height: 1.2em;
    text-transform: none;
    text-decoration: none;
    color: rgba(26, 26, 26, .9);
    -webkit-box-ordinal-group: 3;
    -moz-box-ordinal-group: 3;
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3;
}

.BlogList-item-meta {
    margin-bottom: 10px;
}

.BlogList-item-readmore {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    letter-spacing: .1em;
    text-transform: uppercase;
    text-decoration: none;
    color: #1a1a1a;
    -webkit-transition: color .15s ease-out;
    -moz-transition: color .15s ease-out;
    -ms-transition: color .15s ease-out;
    transition: color .15s ease-out;
    white-space: nowrap;
}

.BlogList-item-image {
    margin-bottom: 16.18px;
}

.BlogItem-meta {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
}

.BlogList-item-excerpt {
    font-size: 15px;
    line-height: 1.8em;
    letter-spacing: 0em;
}

.Blog-meta {
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0em;
    text-transform: none;
    font-weight: 600;
    font-style: normal;
    font-size: 11px;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: rgba(26, 26, 26, .5);
}

.Blog-meta-item--date {
    font-weight:normal;
}

.summary-metadata-item:after,
.Blog-meta-item--date:before {
    content: '\00B7';
    margin: 0 .5em;
}



.block-horizontalrule hr {
    border-style: none;
    border-width: 0;
    margin: 32px 0;
    color: rgba(26, 26, 26, .15);
    background-color: rgba(26, 26, 26, .15);
    height: 1px;
    border: none;
}

.sqs-row:before,
.sqs-row:after {
    content: "";
    display: table;
}

[class*=sqs-col] {
    float: left;
}

.sqs-block {
    position: relative;
    height: auto;
    outline: 1px solid transparent;
    -webkit-transition: box-shadow .1s ease-in-out;
    -moz-transition: box-shadow .1s ease-in-out;
    -ms-transition: box-shadow .1s ease-in-out;
    -o-transition: box-shadow .1s ease-in-out;
    transition: box-shadow .1s ease-in-out;
    padding-top: 17px;
    padding-bottom: 17px;
}

.no-banner-section .sqs-block.html-block.sqs-block-html:not(.sqs-block-content) {
    width: 83.33%;
    margin-right: auto;
    margin-left: auto;
}

.sqs-row:after {
    clear: both;
}

.sqs-col-12 .sqs-col-1 {
    width: 8.3333%;
}

.sqs-col-12 .sqs-col-2 {
    width: 16.6667%;
}

.sqs-col-8 .sqs-col-3 {
    width: 37.5%;
}

.sqs-col-12 .sqs-col-4 {
    width: 33.3333%;
}

.sqs-col-8 .sqs-col-5 {
    width: 62.5%;
}

.sqs-col-12 .sqs-col-8 {
    width: 66.6667%;
}

.sqs-col-12 .sqs-col-10 {
    width: 83.3333%;
}

.sqs-col-12 {
    width: 100%;
}

.sqs-block-html .sqs-block-content>*:first-child {
    margin-top: 0;
}

.sqs-block-html .sqs-block-content>*:last-child {
    margin-bottom: 0;
}

.sqs-gallery-block-grid .slide {
    float: left;
    width: 25%;
}

.sqs-gallery-block-grid .slide .margin-wrapper a.image-slide-anchor {
    padding-bottom: 100%;
    width: 100%;
    height: 0;
    display: block;
    cursor: default;
    border-bottom: none;
}

.sqs-gallery-block-grid .sqs-gallery-design-grid-slide .margin-wrapper {
    margin-right: 0px;
    margin-bottom: 0px;
}

.sqs-gallery-block-grid.sqs-gallery-thumbnails-per-row-3 .sqs-gallery-design-grid-slide {
    width: 33.333333333333336%;
}

.sqs-gallery-block-grid.sqs-gallery-thumbnails-per-row-3 .sqs-gallery-design-grid-slide:nth-child(3n + 1) {
    clear: left;
}

.desc_wrapper p:last-child>a {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Montserrat', "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    padding: 1em 1.75em;
    background-color: #fff;
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: subpixel-antialiased;
    display: inline-block;
    line-height: 1em;
    margin: 10px 0;
    color: #fff;
    -webkit-transition: background-color .1s 0s ease-in-out, color .1s 0s ease-in-out;
    -moz-transition: background-color .1s 0s ease-in-out, color .1s 0s ease-in-out;
    -ms-transition: background-color .1s 0s ease-in-out, color .1s 0s ease-in-out;
    -o-transition: background-color .1s 0s ease-in-out, color .1s 0s ease-in-out;
    transition: background-color .1s 0s ease-in-out, color .1s 0s ease-in-out;
}

body:not(.collection-type-gallery).banner-button-style-outline .desc_wrapper p:last-child>a {
    background-color: transparent;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    border: 2px solid #fff !important;
}

body:not(.collection-type-gallery).banner-button-style-outline .desc_wrapper p:last-child>a:hover {
    background-color: #fff;
    color: #181818;
}

body:not(.button-style-default).button-style-outline .sqs-editable-button:hover,
body:not(.button-style-default).button-style-outline .sqs-editable-button-color:hover {
    background-color: #1a1a1a;
    color: #fff;
}

.small-button-style-outline .sqs-block-button .sqs-block-button-element--small:hover,
.medium-button-style-outline .sqs-block-button .sqs-block-button-element--medium:hover {
    background-color: #272727;
    color: #fff;
}

.sqs-block-horizontalrule hr {
    border-style: none;
    border-width: 0;
    margin: 32px 0;
    color: rgba(26, 26, 26, .15);
    background-color: rgba(26, 26, 26, .15);
    height: 1px;
}

.text-align-center {
    text-align: center;
}

.sqs-block-button .sqs-block-button-element--small {
    padding: 13px 26px;
    color: #fff;
    background-color: #272727;
    border-color: #272727;
    font-size: 12px;
    font-family: 'Montserrat', "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    font-style: normal;
}

.sqs-block-button .sqs-block-button-element--medium {
    padding: 21px 34px;
    letter-spacing: 1px;
    font-family: 'Montserrat', "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: #000;
    background-color: #272727;
    border-color: #272727;
}

pre {
    white-space: pre-wrap;
}

[class*=sqs-col] .sqs-block {
    padding-left: 17px;
    padding-right: 17px;
}

h1,
h2,
h3 {
    margin: 1em 0 .5em;
}

/* SECTION */
#about-intro {
    background-color: #edeeef;
}

/* TYPOGRAPHY */
h1 {
    color: rgba(26, 26, 26, .9);
}

h2,
.summary-title a {
    color: #4a4a4a;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 32px;
    font-family: adobe-garamond-pro;
    font-weight: 400;
    font-style: normal;
    font-size: 42px;
    letter-spacing: 0em;
    line-height: 1em;
    text-transform: none;
}

h1,
h2,
h3 {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased !important;

}

h2 {
    font-family: 'Montserrat', "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 22px;
    letter-spacing: .01em;
    line-height: 1.4em;
    text-transform: none;
    color: rgba(26, 26, 26, .9);
}

h3 {
    font-family: 'Montserrat', "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    font-style: normal;
    color: rgba(26, 26, 26, .9);
}

body:not(.sqs-block-button)#page .sqs-block-content a {
    border-bottom: 1px solid rgba(74, 74, 74, .2);
    color: rgba(74, 74, 74, .9);
    display: inline;
    font-weight: 400;
    text-decoration: none;
}

/* Styles for validation helpers */
.input-validation-error {
    border: 1px solid #d52d24 !important;
    background-color: #fee !important;
}

.validation-summary-errors {
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

.error {
    color: #d52d24;
    display: none;
    font-size: 12px;
    margin: 6px 0 0;
    line-height: 1.375;
    text-align: left;
    position: absolute;
}

.error-textarea {
    margin-top: -10px;
}

/* Styles for basic forms
-----------------------------------------------------------*/
.field {
    margin: 0 0 24px;
}

textarea {
    min-height: 75px;
    resize: vertical;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
    width: 100%;
    padding: 12px;
    margin: 6px 0 4px;
    border: 1px solid #ccc;
    background: #fafafa;
    font-family: sans-serif;
    font-size: 12px;
    line-height: normal;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

input:focus,
textarea:focus {
    border-color: #4a89dc;
}


.hidden {
    display: none !important;
    visibility: hidden;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}


.button-style-outline [data-slice-type="buttons"] li:hover {
    background-color: #fff;
}

.button-style-outline [data-slice-type="buttons"] a:hover {
    color: #181818;
}

#footerBlocks .sqs-block-content a:hover {
    color: #fff;
}

#footerBlocks .sqs-block-content a {
    border: none;
    -webkit-transition: all .15s;
    -moz-transition: all .15s;
    -ms-transition: all .15s;
    -o-transition: all .15s;
    transition: all .15s;
}

#footer nav:not(.social-account-list) a.active,
#footer nav:not(.social-account-list) a:visited.active,
#footer nav:not(.social-account-list) label.active,
#footer nav:not(.social-account-list) a:hover,
#footer nav:not(.social-account-list) a:visited:hover,
#footer nav:not(.social-account-list) label:hover {
    color: #fff;
}

/* Animation */
@-webkit-keyframes header-anim {
    0% {
        opacity: 0;
    }

    72% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes header-anim {
    0% {
        opacity: 0;
    }

    72% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.feature-bg-anim 0% {
    opacity: 0;
}

.feature-bg-anim 50% {
    opacity: 0;
}

.feature-bg-anim 100% {
    opacity: 1;
}

@-webkit-keyframes feature-bg-anim {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes feature-bg-anim {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.feature-text-anim 0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 10px, 0);
    -moz-transform: translate3d(0, 10px, 0);
    -ms-transform: translate3d(0, 10px, 0);
    -o-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
}

.feature-text-anim 75% {
    opacity: 0;
    -webkit-transform: translate3d(0, 10px, 0);
    -moz-transform: translate3d(0, 10px, 0);
    -ms-transform: translate3d(0, 10px, 0);
    -o-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
}

.feature-text-anim 100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

@-webkit-keyframes feature-text-anim {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 10px, 0);
        -moz-transform: translate3d(0, 10px, 0);
        -ms-transform: translate3d(0, 10px, 0);
        -o-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }

    75% {
        opacity: 0;
        -webkit-transform: translate3d(0, 10px, 0);
        -moz-transform: translate3d(0, 10px, 0);
        -ms-transform: translate3d(0, 10px, 0);
        -o-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes feature-text-anim {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 10px, 0);
        -moz-transform: translate3d(0, 10px, 0);
        -ms-transform: translate3d(0, 10px, 0);
        -o-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }

    75% {
        opacity: 0;
        -webkit-transform: translate3d(0, 10px, 0);
        -moz-transform: translate3d(0, 10px, 0);
        -ms-transform: translate3d(0, 10px, 0);
        -o-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.feature-text-anim-alt 0% {
    opacity: 0;
    -webkit-transform: translate3d(-50%, -45%, 0);
    -moz-transform: translate3d(-50%, -45%, 0);
    -ms-transform: translate3d(-50%, -45%, 0);
    -o-transform: translate3d(-50%, -45%, 0);
    transform: translate3d(-50%, -45%, 0);
}

.feature-text-anim-alt 67% {
    opacity: 0;
    -webkit-transform: translate3d(-50%, -45%, 0);
    -moz-transform: translate3d(-50%, -45%, 0);
    -ms-transform: translate3d(-50%, -45%, 0);
    -o-transform: translate3d(-50%, -45%, 0);
    transform: translate3d(-50%, -45%, 0);
}

.feature-text-anim-alt 100% {
    opacity: 1;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    -o-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

@-webkit-keyframes feature-text-anim-alt {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-50%, -45%, 0);
        -moz-transform: translate3d(-50%, -45%, 0);
        -ms-transform: translate3d(-50%, -45%, 0);
        -o-transform: translate3d(-50%, -45%, 0);
        transform: translate3d(-50%, -45%, 0);
    }

    67% {
        opacity: 0;
        -webkit-transform: translate3d(-50%, -45%, 0);
        -moz-transform: translate3d(-50%, -45%, 0);
        -ms-transform: translate3d(-50%, -45%, 0);
        -o-transform: translate3d(-50%, -45%, 0);
        transform: translate3d(-50%, -45%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: translate3d(-50%, -50%, 0);
        -moz-transform: translate3d(-50%, -50%, 0);
        -ms-transform: translate3d(-50%, -50%, 0);
        -o-transform: translate3d(-50%, -50%, 0);
        transform: translate3d(-50%, -50%, 0);
    }
}

@keyframes feature-text-anim-alt {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-50%, -45%, 0);
        -moz-transform: translate3d(-50%, -45%, 0);
        -ms-transform: translate3d(-50%, -45%, 0);
        -o-transform: translate3d(-50%, -45%, 0);
        transform: translate3d(-50%, -45%, 0);
    }

    67% {
        opacity: 0;
        -webkit-transform: translate3d(-50%, -45%, 0);
        -moz-transform: translate3d(-50%, -45%, 0);
        -ms-transform: translate3d(-50%, -45%, 0);
        -o-transform: translate3d(-50%, -45%, 0);
        transform: translate3d(-50%, -45%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: translate3d(-50%, -50%, 0);
        -moz-transform: translate3d(-50%, -50%, 0);
        -ms-transform: translate3d(-50%, -50%, 0);
        -o-transform: translate3d(-50%, -50%, 0);
        transform: translate3d(-50%, -50%, 0);
    }
}

@-webkit-keyframes social-solid-icon-anim-out {
    0% {
        fill: #fff;
    }

    100% {
        fill: rgba(255, 255, 255, .4);
    }
}

@keyframes social-solid-icon-anim {
    0% {
        fill: #fff;
    }

    100% {
        fill: rgba(255, 255, 255, .4);
    }
}

.social-solid-icon-anim-off 0% {
    fill: rgba(255, 255, 255, .4);
}

.social-solid-icon-anim-off 99% {
    fill: #fff;
}

.social-solid-icon-anim-off 100% {
    fill: rgba(255, 255, 255, 0);
}

@-webkit-keyframes social-solid-icon-anim-off {
    0% {
        fill: rgba(255, 255, 255, .4);
    }

    99% {
        fill: #fff;
    }

    100% {
        fill: rgba(255, 255, 255, 0);
    }
}

@keyframes social-solid-icon-anim {
    0% {
        fill: rgba(255, 255, 255, .4);
    }

    99% {
        fill: #fff;
    }

    100% {
        fill: rgba(255, 255, 255, 0);
    }
}

.social-solid-icon-anim-in 0% {
    fill: rgba(255, 255, 255, .4);
}

.social-solid-icon-anim-in 100% {
    fill: #fff;
}

@-webkit-keyframes social-solid-icon-anim-in {
    0% {
        fill: rgba(255, 255, 255, .4);
    }

    100% {
        fill: #fff;
    }
}

@keyframes social-solid-icon-anim {
    0% {
        fill: rgba(255, 255, 255, .4);
    }

    100% {
        fill: #fff;
    }
}