@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

<partial name="~/Views/Shared/_HeaderTitle.cshtml" />
<section class="striped-section">
    <div class="index-page-content">
        <div class="sqs-layout sqs-grid-12 columns-12">
            <div class="row sqs-row">
                <div class="col sqs-col-12 span-12">
                    <div class="sqs-block html-block sqs-block-html">
                        <div class="block-content">
                            <h1 class="text-align-center">@Localizer["A few fun and curious facts about myself"]</h1>
                            <h2 class="text-align-center">@Localizer["I love music, I can play guitar, clarinet, saxofone and the bass. My favorite number is 18, not a fan of watching sport matches on TV. I play video games like it's my life. I knew what I wanted to do at the age of 16.I'm a red belt in Taekwondo. I don't have a favorite food and I've never broken a bone."]
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="about-photos" class="index-section">
    <div class="promoted-gallery-wrapper"></div>
    <div class="index-section-wrapper page-content responsive">
        <div class="content-inner has-content">
            <div class="sqs-layout sqs-grid-12 columns-12">
                <div class="row sqs-row">
                    <div class="col sqs-col-12 span-12">
                        <div class="sqs-block gallery-block sqs-block-gallery responsive">
                            <div class="sqs-block-content">
                                <div class="sqs-gallery-container sqs-gallery-block-grid sqs-gallery-aspect-ratio-standard sqs-gallery-thumbnails-per-row-3 clear">
                                    <div class="sqs-gallery sqs-gallery-design-grid">
                                        <div class="slide sqs-gallery-design-grid-slide">
                                            <div class="margin-wrapper">
                                                <a class="image-slide-anchor content-fill" style="overflow: hidden;">
                                                    <img class="thumb-image loaded" src="/photos/omg.jpg">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="slide sqs-gallery-design-grid-slide">
                                            <div class="margin-wrapper">
                                                <a class="image-slide-anchor content-fill" style="overflow: hidden;">
                                                    <img class="thumb-image loaded" src="/photos/img1.jpg">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="slide sqs-gallery-design-grid-slide">
                                            <div class="margin-wrapper">
                                                <a class="image-slide-anchor content-fill" style="overflow: hidden;">
                                                    <img class="thumb-image loaded" src="/photos/bungy.jpg">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="slide sqs-gallery-design-grid-slide">
                                            <div class="margin-wrapper">
                                                <a class="image-slide-anchor content-fill" style="overflow: hidden;">
                                                    <img class="thumb-image loaded" src="/photos/solong.jpg">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="slide sqs-gallery-design-grid-slide">
                                            <div class="margin-wrapper">
                                                <a class="image-slide-anchor content-fill" style="overflow: hidden;">
                                                    <img class="thumb-image loaded" src="/photos/taekwon.jpg">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="slide sqs-gallery-design-grid-slide">
                                            <div class="margin-wrapper">
                                                <a class="image-slide-anchor content-fill" style="overflow: hidden;">
                                                    <img class="thumb-image loaded" src="/photos/img2.jpg">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="about-content" class="index-section">
    <div class="promoted-gallery-wrapper"></div>
    <div class="index-section-wrapper page-content">
        <div class="content-inner has-content">
            <div class="sqs-layout sqs-grid-12 columns-12" data-type="page">
                <div class="row sqs-row">
                    <div class="col sqs-col-12 span-12">
                        <div class="sqs-block code-block sqs-block-code">
                            <div class="sqs-block-content">
                                <h1>My life at a glance</h1>
                            </div>
                        </div>
                        <div class="sqs-block html-block sqs-block-html">
                            <div class="sqs-block-content">
                                <p>I prefer the warmer weather than the colder. I enjoy travelling and finding remote places. Although the majority of the year, you will find me behind a computer screen. My father had a huge impact on the start of my career, but that's a story for another time.&nbsp;</p>
                                <p>Throughout the years I've worked for outsourcing companies that allowed me to learn with some amazing people who have played key roles in my career. I have worked very hard to get where I am today. The challenges that I deal with on a day-to-day basis I find meaningful and rewarding. &nbsp;</p>
                                <p>Bottom line: I honestly love what I do and I will do whatever it takes to further my career.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>