@model ErrorViewModel

@{
    Layout = "_LayoutError";
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">This is an <strong>Error</strong>.</h1>
<p>
    Sorry for the inconvenience.
</p>