@model List<PostViewModel>

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-8">
        <h2>Posts</h2>
    </div>
    <div class="col-4 text-right">
        <a asp-controller="blog" asp-action="add" class="btn btn-primary btn-md" role="button" aria-pressed="true">Add new</a>
    </div>
</div>

<div class="row">
    <div class="card-body table-full-width table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var post in Model)
                {
                    <tr>
                        <td>@post.Id</td>
                        <td>@post.Title</td>
                        <td class="text-right"><a asp-controller="project" asp-action="delete" class="btn btn-outline-danger" role="button" aria-pressed="true">Delete</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>